/Week 2/HaloDunia/nbproject/private/
/Week 2/HaloDunia/build/
/Week 2/HaloDunia/dist/
/Week 2/modul2/nbproject/private/
/Week 2/modul2/dist/
/Week 2/modul2/build/
/Week 6/Pra/BankAccount/nbproject/private/
/Week 6/Pra/BankAccount/build/
