/Week 2/HaloDunia/nbproject/private/
/Week 2/HaloDunia/build/
/Week 2/HaloDunia/dist/
/Week 2/modul2/nbproject/private/
/Week 2/modul2/dist/
/Week 2/modul2/build/
/Week 6/Pra/BankAccount/nbproject/private/
/Week 6/Pra/BankAccount/build/
/Week 8/Praktikum/Latihan GUI/nbproject/private/
/Week 8/Praktikum/Latihan GUI/build/
/Week 9/Pra/StudentForm/target/
/Week 10/Pra/Note-Stis/target/
/Chatbot-Java-master/dist/
/Chatbot-Java-master/build/
/Chatbot-Java-master/nbproject/private/
